body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16;
}

form input {
    width: 150px;
    margin: 25px 25px;
    border: 2px inset blue;
    border-radius: 4px;
    padding: 3px;
}